.projects{
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 25px;

    .table-img {
        height: 2.25rem;
        width: 2.25rem;
        border-width: 2px;
        border-color: #dee2e6;
        border-radius: 50%;
        margin-left: -12px;
        border: 2px solid #dee2e6;
    }
}