.growth {
    padding-bottom: 25px;
    flex: 0 0 25%;
    max-width: 25%;
    padding-right: 15px;
    padding-left: 15px;
    height: 500px;

    .heading {
        padding: 20px 20px 0 20px;
        margin-bottom: 15px;
        text-align: center;
        height: 210px;

        .dropdown {
            margin: auto;
            position: relative;
            padding: 9px 15px 10px 15px;
            border: 1px solid #d3d3d3;
            border-radius: 8px;
            transform: none;
            font-size: 13px;
            line-height: 17px;
            background-color: #fff;
            letter-spacing: normal;
            min-width: 115px;
            text-align: inherit;
            color: #1b2e4b;
            box-shadow: none;
            max-height: 35px;
            width: 40%;

            .box {
                margin-top: 25px;
                width: 125px;
                margin-left: -20px;

                .drop-menu {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

}


.content {
    margin-top: -130px;

    .chart1 {
        width: 33.33%;
        float: none;
    }
}