$default: #011844;
$primary: #6e51df;
$blue: #0099ff;
$white: #ffffff;
$black: #000000;
$red: #ff3030;
$redRibbon: #de0a43;
$border: #e4e4e4;
$yellow: #ffba00;
$green: #45ad35;
$panache: #f6fbf5;
$background: #f5f5f9;
$main-background: #f5f5f9;
$line: #e4e4e4;
$line2: #f1f1f1;
$line3: #f5f5f5;
$line4: #d7d7d7;
$darkerGrey: #a6aab3;
$darkGrey: #656565;
$mediumGrey: #a1a1a1;
$lightGrey: #c7c7c7;
$lighterGrey: #fafafb;
$lighterGrey2: #c4c4c4;
$fairPink: #ffebeb;
$peppermint: #edf7eb;
$text: #011844;
$orange: #f07009;

$x-small: 12px;
$small: 14px;
$medium1: 16px;
$medium2: 18px;
$normal: 20px;
$normal2: 24px;
$large: 32px;
$x-large: 40px;
$xx-large: 56px;
$xxl-large: 72px;

$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$boxShadow: 0 0 22px rgba(0, 0, 0, 0.07);

$font-family: "Inter", sans-serif;

$header: 80px;
$header-audit: 112px;
$sidebar: 200px;
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
