.topPerformance {
    width: 66.666667%;

    .map {


        .left-area {
            width: 33.333333%;
            padding-right: 15px;
            padding-left: 15px;
            text-align: left;
        }
    }
}