.queries {
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 33.333333%;
    // max-width: 33.333333%;
    padding-bottom: 25px;

    .height {
        height: 290px;
        width: 430px;
    }
}