.home {
    display: flex;

    .homeContainer {
        flex: 10;

        .container {
            margin-top: 80px;
            display: flex;
            align-items: center;
        }

        .flex {
            display: flex;
            align-items: center;
            width: 100%;
        }

        .sales {
            display: flex;
            align-items: center;
        }

        .bar {
            display: flex;
            align-items: center;
        }

        .queries {
            display: flex;
            align-items: center;
        }
    }
}