.recentItems {
    width: 100%;

    img {
        height: 80px;
        width: 90px;
        object-fit: cover;
        border: 1px solid #e8e8e8;
        padding: 4px;
        border-radius: 5px;

        
    }
    h5 {

        width: 200%;
    }
}