.sidebar-submenu {
    position: absolute;
    left: 150px;
    overflow: hidden;
    width: 220px;
    background-color: #fff;
    z-index: 11111;
    top: 0;
    height: 100vh;

    .submenu-inner-info {
        margin-top: 30px;
        margin-bottom: 30px;


        p {
            margin-top: 0;
            margin-bottom: 0.625rem;
            color: #515365;
        }
    }

    .submenu-list {
        padding: 0px 18px;
        margin-bottom: 1rem;

        li {
            margin-top: 12px;
            padding: 0 !important;
            // cursor: pointer;

            a {
                color: #515365 ;
                font-weight: 500;
                font-size: 15px ;
            }

        }
    }

}