// Text Color
.text {
  font-weight: $regular;
  font-size: $small;
  line-height: 20px;
  color: $text;

  &--regular12.ant-typography {
    font-weight: $regular !important;
    font-size: $x-small;
    line-height: 16px;
  }
  &--regular14.ant-typography {
    font-weight: $regular !important;
    font-size: $small;
    line-height: 20px;
  }
  &--regular16.ant-typography {
    font-weight: $regular !important;
    font-size: $medium1;
    line-height: 24px;
    letter-spacing: -0.3px;
  }
  &--regular18.ant-typography {
    font-weight: $regular !important;
    font-size: $medium2;
    line-height: 28px;
  }
  &--regular20.ant-typography {
    font-weight: $regular !important;
    font-size: $normal;
    line-height: 32px;
  }
  &--medium14.ant-typography {
    font-weight: $medium !important;
    font-size: $small;
    line-height: 20px;
  }
  &--medium16.ant-typography {
    font-weight: $medium !important;
    font-size: $medium1;
    line-height: 24px;
  }
  &--medium18.ant-typography {
    font-weight: $medium !important;
    font-size: $medium2;
    line-height: 28px;
  }
  &--semibold12.ant-typography {
    font-weight: $semi-bold !important;
    font-size: $x-small;
    line-height: 16px;
  }
  &--semibold14.ant-typography {
    font-weight: $semi-bold !important;
    font-size: $small;
    line-height: 20px;
  }
  &--semibold16.ant-typography {
    font-weight: $semi-bold !important;
    font-size: $medium1;
    line-height: 24px;
    letter-spacing: -0.3px;
  }
  &--semibold18.ant-typography {
    font-weight: $semi-bold !important;
    font-size: $medium2;
    line-height: 28px;
  }
  &--semibold20.ant-typography {
    font-weight: $semi-bold !important;
    font-size: $normal;
    line-height: 32px;
  }
  &--bold14.ant-typography {
    font-weight: $bold !important;
    font-size: $regular;
    line-height: 20px;
  }
  &--bold16.ant-typography {
    font-weight: $bold !important;
    font-size: $medium1;
    line-height: 24px;
    letter-spacing: -0.3px;
  }
  &--bold20.ant-typography {
    font-weight: $bold !important;
    font-size: $normal;
    line-height: 32px;
  }
  &--bold24.ant-typography {
    font-weight: $bold !important;
    font-size: $normal2;
    line-height: 36px;
  }
  &--bold32.ant-typography {
    font-weight: $bold !important;
    font-size: $large;
    line-height: 48px;
  }
  &--bold40.ant-typography {
    font-weight: $bold !important;
    font-size: $x-large;
    line-height: 60px;
  }
  &--bold56.ant-typography {
    font-weight: $bold !important;
    font-size: $xx-large;
    line-height: 84px;
  }
  &--bold72.ant-typography {
    font-weight: $bold !important;
    font-size: $xxl-large;
    line-height: 108px;
  }
  &--primary {
    color: $primary !important;

    path {
      stroke: $primary !important;
    }
  }

  &--white {
    color: $white !important;

    path {
      stroke: $white !important;
    }
  }

  &--blue {
    color: $blue !important;

    path {
      stroke: $blue !important;
    }
  }
  &--orange {
    color: $orange !important;

    path {
      stroke: $orange !important;
    }
  }

  &--default {
    color: $default !important;

    path {
      stroke: $default !important;
    }
  }

  &--red {
    color: $red !important;

    path {
      stroke: $red !important;
    }

    &--background {
      color: $red !important;
      background-color: rgba($red, 0.2);
      padding: 4px 8px;
      border-radius: 4px;
    }
  }

  &--green {
    color: $green !important;

    path {
      stroke: $green !important;
    }

    &--background {
      color: $green !important;
      background-color: rgba($green, 0.2);
      padding: 4px 8px;
      border-radius: 4px;
    }
  }

  &--black {
    color: $black !important;

    path {
      stroke: $black !important;
    }
  }

  &--yellow {
    color: $yellow !important;

    path {
      stroke: $yellow !important;
    }
  }
  &--dark-grey {
    color: $darkGrey !important;

    path {
      stroke: $darkGrey !important;
    }
  }
  &--medium-grey {
    color: $mediumGrey !important;

    path {
      stroke: $mediumGrey !important;
    }
  }
}

.font__size {
  &--xsmall {
    font-size: $x-small !important;
  }

  &--small {
    font-size: $small !important;
  }

  &--medium {
    font-size: $medium1 !important;
  }

  &--medium2 {
    font-size: $medium2 !important;
  }

  &--normal {
    font-size: $normal !important;
  }

  &--large {
    font-size: $large !important;
  }

  &--xlarge {
    font-size: $x-large !important;
  }
  &--xxlarge {
    font-size: $xx-large;
  }
}

// Font Weight
.font__weight {
  &--regular {
    font-weight: $regular !important;
  }
  &--medium {
    font-weight: $medium !important;
  }
  &--semi-bold {
    font-weight: $semi-bold !important;
  }
  &--bold {
    font-weight: $bold !important;
  }
  &--extra-bold {
    font-weight: $extra-bold !important;
  }
}

// Font Opacity
.font__opacity {
  &--regular {
    opacity: 0.7;
  }
}

.capitalize {
  text-transform: capitalize;
}

.text__align {
  &--center {
    text-align: center !important;
  }
  &--left {
    text-align: left !important;
  }
}
