button.ant-btn {
  height: 42px;
  font-weight: 500;
  font-size: $medium1;
  line-height: 24px;
  padding: 9px 16px;
  border-radius: 8px;
  display: flex;
  justify-content: center;

  &:hover,
  &:focus {
    color: $default;
  }

  &.ant-btn-lg {
    height: 48px;
    padding: 12px 24px;
  }
  &.ant-btn-sm {
    height: 40px;
    padding: 8px 12px;
  }
  &.ant-btn-link {
    height: auto;
  }

  &-primary {
    color: $white;
    font-weight: 500;

    &[disabled] {
      background-color: $line !important;
      border: none;
      font-weight: $semi-bold;
    }

    .ant-typography {
      color: $white;
    }

    svg path,
    circle {
      stroke: $white;
    }
  }

  &-dangerous {
    border: none !important;
    color: $red !important;
    background-color: rgba($red, 0.2) !important;
  }

  &-text {
    height: auto !important;

    &:hover {
      background: none !important;
    }
  }

  &.btn--default {
    color: $default;

    &:hover,
    &:active {
      color: $default;
    }
  }

  &.btn--no-border {
    border: none;
    box-shadow: none;
  }

  &.btn--square {
    width: 48px;
    height: 48px;
    padding: 0;
  }
}

.ant-switch {
  height: 24px;
  background-color: $border;

  &-handle {
    width: 20px;
    height: 20px;

    &::before {
      background-color: rgba($default, 0.4);
      box-shadow: none;
    }
  }

  &-checked {
    background-color: $primary;

    .ant-switch-handle {
      left: calc(100% - 20px - 2px);

      &::before {
        background-color: $white;
      }
    }
  }
}
