.ant-pagination {
  &-item {
    border: none;
    margin: 0;
    height: 40px;
    line-height: 40px;
    width: 40px;
    text-align: center;
  }
  &-disabled {
    opacity: 0.5;
  }
  &-prev,
  &-next {
    height: 40px;

    button {
      border: none !important;
      margin: 0;
    }
  }
}
