.ant-slider {
  &-rail {
    background-color: $line2;
  }
  &-track {
    background-color: $primary;
  }
  &-handle {
    width: 20px;
    height: 20px;
    background-color: $primary;
    border-width: 0;
    margin-top: -9px;
  }
}
