.ant-steps {
  &-item {
    &-container {
      display: flex;
      align-items: center;
    }
    &-title {
      font-weight: $medium;
      line-height: 24px;
      font-size: $medium1;
      &::after {
        background-color: $line2 !important;
      }
    }
    &-icon {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 16px;
    }

    &-wait {
      .ant-steps-item-icon {
        border-color: $line;

        .ant-steps-icon {
          color: $text;
        }
      }
    }
    &-finish {
      .ant-steps-item-icon {
        border-color: $green;
        path {
          color: $green;
        }
      }
    }
  }
  &-icon {
    color: $text;
    font-weight: $semi-bold;
    font-size: $medium1;
    line-height: 24px;
  }
}
