.styles_react-code-input-container__tpiKG {
  width: auto !important;
  .styles_react-code-input__CRulA {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      border-width: 0;
      border-bottom: 2px $border solid;
      border-radius: 0 !important;
      font-size: $normal;
      font-weight: $bold;
      font-family: $font-family;
      color: $default;
      caret-color: $primary !important;

      &:focus {
        border-width: 0;
        border-bottom: 2px $primary solid;
      }
      &:last-child {
        border-right: none;
      }
    }
  }
}
