.ant-modal {
  &-content {
    border-radius: 16px !important;

    .ant-modal-close {
      top: 20px;
      right: 20px;
      &-x {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
      }
    }
  }

  &-wrap {
    z-index: 10000;
  }

  &-mask {
    z-index: 9999;
  }

  &-header {
    border-radius: 16px 16px 0 0 !important;
    background-color: $white;
    padding: 20px;
    border-bottom: 1px solid $line2;
    .ant-modal-title {
      text-align: left;
      font-weight: $bold;
      font-size: $normal;
      line-height: 32px;
    }
  }

  .ant-form-item {
    &-label {
      padding-bottom: 4px !important;
    }
  }
  &-footer {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
  }
}
