.ant-table-wrapper {
  .ant-table {
    &-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
      position: absolute;
      top: 50%;
      right: 0;
      width: 1px;
      height: 1.6em;
      background-color: #0000000f;
      transform: translateY(-50%);
      transition: background-color 0.3s;
      content: "";
    }
    // &-body {
    //   // &::-webkit-scrollbar {
    //   //   height: 0px;
    //   // }
    //   // -ms-overflow-style: none;
    //   // scrollbar-width: none; /* Firefox */
    //   &::-webkit-scrollbar-thumb:window-inactive {
    //     display: none;
    //   }

    //   overflow: hidden !important;
    //   &:hover {
    //     overflow: auto !important;
    //   }
    //   &::-webkit-scrollbar {
    //     width: 3px;
    //     height: 3px;
    //   }

    //   &::-webkit-scrollbar-track {
    //     border-radius: 20px;
    //   }

    //   &::-webkit-scrollbar-thumb {
    //     border-radius: 10px;
    //     -webkit-box-shadow: inset 0 0 6px rgba($black, 0.5);
    //   }
    // }
    &-expanded-row {
      background-color: $white;
      td {
        background-color: $white;
      }
    }
    &-column-sorters {
      display: flex;
      flex: auto;
      align-items: center;
      justify-content: space-between;
    }
    &-column-sorter {
      .margin-left {
        margin-left: 12px;
      }
      .active {
        opacity: 1 !important;
      }
      &-inner {
        padding-left: 0 !important;
        span {
          padding-left: 0;
        }
      }

      svg {
        display: none;
      }
      &-down {
        background: url("../../assets/icons/Arrow/DownSmall.svg") center;
        border-left-color: transparent;
        background-repeat: no-repeat;
        opacity: 0.5;
        width: 8px;
        height: 12px;
      }
      &-down.active {
        background: url("../../assets/icons/Arrow/DownSmallActive.svg") center;
        border-left-color: transparent;
        background-repeat: no-repeat;
        width: 8px;
        height: 12px;
      }
      &-up {
        background: url("../../assets/icons/Arrow/UpSmall.svg") center;
        border-left-color: transparent;
        background-repeat: no-repeat;
        opacity: 0.5;
        width: 8px;
        height: 12px;
      }
      &-up.active {
        background: url("../../assets/icons/Arrow/UpSmallActive.svg") center;
        border-left-color: transparent;
        background-repeat: no-repeat;
        width: 8px;
        height: 12px;
      }
    }
    .ant-table-row-expand-icon-cell {
      .ant-btn-text {
        &:focus {
          color: transparent;
        }
        &:focus-within {
          color: transparent;
        }
      }
    }
    .ant-typography {
      font-weight: 600;
    }
    &__expand-parent--active {
      background-color: rgba($primary, $alpha: 0.05);

      td {
        padding: 28px 16px;
      }
      &:hover > td {
        background-color: rgba($primary, $alpha: 0.05) !important;
      }
    }
    &-thead {
      tr {
        th {
          background-color: $lighterGrey;
          font-weight: $normal;
          border-bottom: none;
          font-size: $small;
          position: sticky;
          top: 0;
          z-index: 10;
        }
        .ant-table-column-sort {
          color: $primary;
          font-weight: $semi-bold;
          .anticon-caret-down.active {
            path {
              fill: $primary;
            }
          }
        }
      }
    }

    &-tbody {
      tr {
        td {
          border-bottom: none;
          font-weight: $medium;
          font-size: $small;
        }
      }
    }
    &-filter-column-title {
      padding: 16px 2.3em 16px 30px;
    }
  }
  .ant-table-container table > thead > tr:first-child th:first-child {
    z-index: 20;
  }

  .ant-pagination {
    margin-bottom: 0;
    margin-top: 32px;

    &-prev {
      width: 32px;
      height: 32px;
      border-radius: 16px;
      background: url("../../assets/icons/Arrow/Left.svg") center;
      border-left-color: transparent;
      top: 13px;
      right: 16px;
      background-color: $lighterGrey;

      &:hover {
        border-left-color: transparent;
      }
      svg {
        display: none;
      }
    }
    &-next {
      width: 32px;
      height: 32px;
      border-radius: 16px;
      background: url("../../assets/icons/Arrow/Right.svg") center;
      border-left-color: transparent;
      top: 13px;
      right: 16px;
      background-color: $lighterGrey;
      svg {
        display: none;
      }
      &:hover {
        border-left-color: transparent;
      }
    }

    .ant-pagination-item {
      border: none;
      border-radius: 8px;
      font-weight: $regular;
      font-family: $font-family;
      width: auto;
      min-width: 40px;
      &-link {
        padding: 0;
        border: none;
        border-radius: 100%;
        background-color: transparent;
      }

      &-active {
        a {
          color: $primary;
        }
      }
    }

    .ant-pagination-next a {
      border-radius: 8px;
    }

    .ant-pagination-options {
      .ant-select-selector {
        border-radius: 8px;
        height: auto !important;
        line-height: normal !important;
      }
    }
    &-item-ellipsis {
      line-height: 38px;
      font-size: $x-small;
      color: $default !important;
    }
  }
  .ant-table-footer {
    background-color: $white;
    padding: 18px 12px;
  }
}

.ant-table-content {
  overflow: hidden hidden !important;
}

.ant-table-content:hover {
  overflow: auto auto !important;
}
