.ant-tag {
  padding: 4px 12px;
  border: none;
  border-radius: 8px;
  font-weight: $semi-bold;
  font-size: $small;
  line-height: 24px;
  text-align: right;
}
.ant-tag--red {
  color: $red;
  background-color: rgba($red, 0.1);
}
.ant-tag--orange {
  color: $orange;
  background-color: rgba($orange, 0.1);
}
.ant-tag--green {
  color: $green;
  background-color: rgba($green, 0.1);
}
.ant-tag--blue {
  color: $blue;
  background-color: rgba($blue, 0.1);
}
.ant-tag--yellow {
  color: $yellow;
  background-color: rgba($yellow, 0.1);
}
