.ant-tooltip {
  max-width: 280px;
  &-inner {
    padding: 12px !important;
    background-color: $default;
  }
  &-arrow {
    width: 16px;
    height: 20px;

    &-content {
      width: 16px;
      height: 16px;
      background-color: $default;
    }
  }
}
