input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.ant-form-item {
  font-weight: 500;

  &-label {
    padding-bottom: 4px !important;

    label {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      width: 100%;
    }
  }

  &-control-input {
    input {
      height: 44px !important;
      padding-left: 12px;
      padding-right: 12px;
      font-size: $small;
      font-weight: 500;
      border-width: 1px;

      // &:active {
      //   border-width: 2px !important;
      //   border-right-width: 2px !important;
      // }
      &::placeholder {
        // border-width: 2px !important;
        color: rgba($default, 0.5);
      }
      &:focus {
        // border-width: 2px !important;
        box-shadow: none;
      }
    }

    textarea {
      padding-left: 16px;
      padding-right: 16px;

      &::placeholder {
        color: rgba($default, 0.5);
      }
    }
  }
}

.ant-radio {
  &:hover,
  &:active,
  &:focus {
    .ant-radio-inner {
      border-color: $primary !important;
    }
  }

  &-checked {
    .ant-radio-inner {
      border-color: $primary !important;
      background: $primary;

      &::after {
        background-color: $white;
      }
    }
    &::after {
      border-color: $primary !important;
    }
  }
}
.ant-input {
  &:hover {
    // border-width: 2px !important;
    border-right-width: 2px !important;
  }
}
.ant-input-number {
  width: 100%;
}

.ant-input-group-addon {
  background-color: $white;
  font-weight: 600;
}

.ant-input-search {
  border: none;
  height: 44px;
  background-color: $background;

  input {
    background-color: $background;

    &::placeholder {
      color: rgba($default, 0.5);
    }
  }

  .ant-input-suffix {
    padding-right: 16px;
  }

  &-icon {
    display: none;
  }
}

// checkbox
.ant-checkbox-group {
  width: 100%;
}

.ant-checkbox {
  &-inner {
    border-radius: 4px !important;
  }

  &:hover,
  &:active,
  &:focus {
    .ant-checkbox-inner {
      border-color: $green !important;
    }
  }

  &-checked {
    .ant-checkbox-inner {
      border-color: $green !important;
      background: $green;
    }
    &::after {
      border-color: $green !important;
    }
  }
}

.ant-radio-group {
  width: 100%;

  .ant-radio-button-wrapper {
    height: 40px;
    line-height: 40px;
    border-radius: 8px;
    margin-left: 24px;
    border: 1px solid $border;

    &:hover {
      color: $default;
    }

    &:first-child {
      margin-left: 0;
    }

    &::before {
      display: none;
    }

    &.ant-radio-button-wrapper-checked:not([class*=" ant-radio-button-wrapper-disabled"]) {
      color: $default;
      border: 1px solid $primary;
    }
  }
}
.select-row {
  .ant-select {
    &-selection-item {
      margin-top: -10px !important;
    }
  }
}
.ant-select {
  &-dropdown {
    box-shadow:
      0 3px 6px -4px rgba(0, 0, 0, 0.12),
      0 6px 16px 0 rgba(0, 0, 0, 0.08),
      0 9px 28px 8px rgba(0, 0, 0, 0.05) !important;
  }

  &-selector {
    padding: 8px 12px !important;
    height: 44px !important;
  }

  &-selection-item {
    height: 42px !important;
    font-weight: $medium !important;
    font-size: $small !important;

    &-remove {
      background-color: rgba($color: $default, $alpha: 0.4);
      width: 14px;
      height: 14px;
      border-radius: 100%;
      display: flex !important;
      align-items: center;

      svg {
        width: 14px;
        height: 14px;

        path {
          stroke: $white;
        }
      }
    }
  }
  &-arrow {
    background: url("../../assets/icons/Arrow/Down.svg") center;
    border-left-color: transparent;
    &:hover {
      border-left-color: transparent;
    }

    width: 24px;
    span {
      display: none;
    }
  }

  input {
    margin-left: 0 !important;
  }

  .ant-select-selection-placeholder {
    left: 16px;
  }

  &.origin-select {
    .ant-select-selection-item {
      height: 24px !important;
      align-items: center;
    }
  }
}

// .ant-select-single {
//   .ant-select-selector {
//     .ant-select-selection-item {
//       line-height: 44px;
//     }
//     .ant-select-selection-search {
//       input {
//         padding: 4px 0px;
//         &:placeholder-shown {
//           text-overflow: ellipsis !important;
//         }
//       }
//     }
//   }
// }
